* {
    margin: 0;
    padding: 1;
    /* box-sizing: border-box; */
  }

.container-header {
        display: flex;
        background-color: black; 
        font-size: 20px;
        font-family: Tahoma, sans-serif;
        color: #fa5f06;
        font-weight: bold;
        border-bottom: 1px solid black;
}

.item-header {
    padding: 10px;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    /* white-space: nowrap; */
    overflow:hidden
}

.container-main {
    display: flex;
    
    font-family: Tahoma, sans-serif;
}

.main {
    font-size: 15px;
    background-color: #fa5f06;
    width: 260px;
}

.aside {
    padding-top: 10px;
    padding-left: 10px;
    height: 180px;
    margin: 0;
    border-bottom: 2px solid #fa5f06;
}

.item-contact {
    padding-bottom: 10px;
    font-weight: bold;
}

.section {
 flex-basis: 180vh;
}

.container-footer {
    display: flex;
    
}

.item-footer {
    padding: 10px;
    text-align:center;
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

.github {
    width: 240px;
    background-color: #fa5f06;
}

.since {
    /* background-color: chartreuse; */
    align-self: flex-start
    
}


