* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url("./assets/fonts/Ubuntu/Ubuntu-Bold.ttf");
    font-weight: 500;

  }
  @font-face {
    font-family: 'Ubuntu-Regular';
    src: url("./assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
    font-weight: 300;
  }

  html {
    scroll-behavior: smooth; 
  }

  body {
      min-height: 100vh;
  }

  a.nav-link {
    display: block;  
    text-decoration: none;
    color: black;
    font-family: "Ubuntu";
    font-size: 20px;
  }

  a.nav-link:hover {
    text-decoration: none;
    color: white;
    font-family: "Ubuntu";
    font-size: 20px;
  }

  .container {
      display: flex;
      max-width: 1440px;
      margin: 0 auto;
      flex-direction: column;
      justify-content: space-between;
  }

.container-header {
        display: flex;
        font-size: 20px;
        font-family: "Ubuntu";
        color: black;
        font-weight: bold;
}

.name-and-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: #fa5f06; 
    width: 99%;
}

.name {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.empty {
    background-color: white;
    height: 40px;
}

.nav {
    padding-bottom: 8px;
    text-align: center;
}

.nav-list {
    display: flex;
    list-style: none;
}

.item-nav {
     width: 16.67%;
     overflow:hidden;
}

.container-main {
    display: flex;
    font-family: "Ubuntu-Regular";
}

.colomn-main-first {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.colomn-main-second {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
}

.item-footer {
    padding: 10px 20px 0px 0px;
    text-align:center;
    font-size: 15px;
    font-family: "Ubuntu";
    font-weight: bold;
}

.github {
    width: 20%;
}

.github a {
    text-decoration: none;
    color: black;
    font-family: "Ubuntu";
    font-size: 15px;
}

.github a:hover {
    text-decoration: none;
    color: #fa5f06;
    font-family: "Ubuntu";
    font-size: 15px;
}

.since {
    width: 33.34%;
}

.logoschool {
    width: 80px;
}

.skill {
    padding-top: 20px;
}

.shift-list {
    padding-left: 25px;
}

.education {
    padding-top: 20px;
}

.contact {
    padding-top: 20px;
}

.highlight-title {
    border-left: 4px solid #fa5f06;
    padding-left: 5px;
}

.line {
    border-bottom: 4px solid #fa5f06;
}

