* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url("./assets/fonts/Ubuntu/Ubuntu-Bold.ttf");
    font-weight: 500;

  }
  @font-face {
    font-family: 'Ubuntu-Regular';
    src: url("./assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
    font-weight: 300;
  }

  html {
    scroll-behavior: smooth; 
  }

  body {
      min-height: 100vh;
  }

.nav-link {
    transition: .7s;
}
  a.nav-link {
    display: block;  
    text-decoration: none;
    color: white;
    font-family: "Ubuntu";
    font-size: 20px;
  }

  a.nav-link:hover {
    text-decoration: none;
    color: black;
    font-family: "Ubuntu";
    font-size: 20px;
  }

.container {
      display: flex;
      max-width: 1440px;
      margin: 0 auto;
      flex-direction: column;
      justify-content: space-between;
}

.container-header {
        display: flex;
        padding: 10px;
        font-size: 20px;
        font-family: "Ubuntu";
        color: black;
        font-weight: bold;
}

.free-space {
    display: flex;
    justify-content: flex-end;
    width: 99%;
}

.name-and-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
}

.name {
    background-color: #fa5f06; 
    padding: 0, 15px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.empty {
    background-color: white;
    height: 40px;
}

.nav {
    background-color: #fa5f06; 
    /* height: 30px; */
    padding: 3px 0px 5px 0px;
    text-align: center;
}

.nav-list {
    display: flex;
    list-style: none;
}

.item-nav {
     width: 16.67%;
     overflow:hidden;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
    font-family: "Ubuntu-Regular";
}

.colomn-main-first, .colomn-main-second  {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

@media (max-width: 768px) {
    .colomn-main-first, .colomn-main-second {
      width: 100%;
    }
  }

.container-footer {
    display: flex;
    justify-content: space-between;
}

.item-footer {
    padding: 10px 20px 0px 0px;
    text-align:center;
    font-size: 15px;
    font-family: "Ubuntu";
    font-weight: bold;
}

.github {
    width: 20%;
    transition: .7s;
}

.github a {
    text-decoration: none;
    color: black;
    font-family: "Ubuntu";
    font-size: 15px;
}

.github a:hover {
    text-decoration: none;
    color: #fa5f06;
    font-family: "Ubuntu";
    font-size: 15px;
}

.since {
    width: 33.34%;
    align-self: end;
}

.logoschool {
    width: 80px;
    align-self: end;
}

.skill, .education, .languages, .contact, .projects, .code-example {
    padding-top: 20px;
}

.shift-list {
    padding-left: 25px;
}

.highlight-title {
    border-left: 30px solid #fa5f06;
    padding-left: 5px;
}

.line {
    border-bottom: 4px solid #fa5f06;
}

